<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="trip_title_div" class="field">
    <%= f.text_field :title, :placeholder => "Seattle to San Diego fast as lightening" %>
  </div>
  <dl id="trip_origin_div" class="field">
    <dt><%= image_tag 'a.png' %></dt>
    <dd><%= f.text_field :origin, :size => 30 %></dd>
  </dl>
  <dl class="field">
    <dt><%= image_tag 'b.png' %></dt>
    <dd><%= f.text_field :destination, :size => 30 %></dd>
  </dl>
  <div id="options_toggle"><%= link_to 'Show options', '#'%></div>
  <div id="driving_options" style="display:none;">
    <%= check_box_tag :avoid_highways, nil, @trip.google_options["avoid_highways"] %>
    <%= label_tag :avoid_highways %>
    <%= check_box_tag :avoid_tolls, nil, @trip.google_options["avoid_tolls"] %>
    <%= label_tag :avoid_tolls %>
  </div>
  <div class="field checkbox">
    <%= f.label :will_drive %>
    <%= f.check_box :will_drive %>
  </div>
  <div class="field checkbox">
    <%= f.label :has_car %>
    <%= f.check_box :has_car %>
  </div>
  <div class="field hidden_fields">
    <%= f.hidden_field :google_options %>
    <%= f.hidden_field :encoded_poly %>
    <%= f.hidden_field :route %>
  </div>
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
  <input id="get_directions" type="button" value="Search" onclick="calcRoute()">

<% end %>
