<div id="jobdetail-nav">
  <a class="returntolist job" href="/trips">view all</a>
  <div id="share">
    <% if @owner %>
      <%= link_to (image_tag 'craigslist.png'), craigslist_path(@trip) %>
    <% end %>
    <%= link_to (image_tag 'icon-envelope.png'), email_text(@trip) %>
    <%= link_to (image_tag 'icon-twitter.png'), tweet_text(@trip) %>
    <%= link_to (image_tag 'icon-fb.gif'), facebook_text(@trip) %>
  </div>
  <% if @prev %>
    <a class="job" href="/trips/<%=@prev.id%>" id="prev-job" title="<%= @prev.title %>"><%=@prev.title%></a>        
  <% end%>
  <% if @next %>
    <a class="job" href="/trips/<%=@next.id%>" id="next-job" title="<%= @next.title %>"><%=@next.title%></a>        
  <% end%>
</div>
