<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
        <% @trip.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :origin, :size => 30 %>
  <span class="hint quiet"></span>
  <%= f.text_field :destination, :size => 30 %></br>
  <span class="hint quiet"></span>
  <%= f.text_field :start_date %>
  <%= f.select :start_flexibility, [["Use exact date above", [0, 0]], 
                                    ["1 day before",         [1, 0]], 
                                    ["1 day after",          [0, 1]], 
                                    ["1 day before and after", [1, 1]], 
                                    ["2 days before and after", [2, 2]], 
                                    ["3 days before and after", [3, 3]]] %></br>
  <%= f.select :start_time, [["Anytime", "a"], ["Early (4a-8a)", "r"], ["Morning (8a-12p)", "m"], 
                             ["Afternoon (12p-5p)", "n"], ["Evening (5p-9p)", "e"], ["Night (9p-12a)", "l"], 
                             ["1:00 am", 1], ["2:00 am", 2], ["3:00 am", 3], ["4:00 am", 4], ["5:00 am", 5], 
                             ["6:00 am", 6], ["7:00 am", 7], ["8:00 am", 8], ["9:00 am", 9], ["10:00 am", 10], 
                             ["11:00 am", 11], ["Noon ", 12], ["1:00 pm", 13], ["2:00 pm", 14], ["3:00 pm", 15], 
                             ["4:00 pm", 16], ["5:00 pm", 17], ["6:00 pm", 18], ["7:00 pm", 19], ["8:00 pm", 20], 
                             ["9:00 pm", 21], ["10:00 pm", 22], ["11:00 pm", 23]] %>
  </br>
  <span id="myDatesFlexible">
    <%= link_to 'My dates are flexible', '#' %>
  </span>

  <div class="trip_options">
    <% fields_for 'trip[trip_options]', @trip.trip_options do |opt| %>
      <%= opt.label :shared_driving %>
      <%= opt.select :shared_driving, [["Meh", 0], ["Yes, a must", 1], ["No, I will do all driving", 2]] %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>

