<div id="right_wrap">
  <% if @owner %>
    <%= javascript_include_tag 'trip_show' %>
    <script type="text/javascript">
      var trip = <%= @trip.to_json.html_safe%>;
      var ops = <%= @trip.trip_options.choose_from.to_json.html_safe %>;
    </script>
    <%= link_to (image_tag static_map(@trip), :id => "static_map"), edit_trip_path(@trip) %>
    <ul id="trip_options">
      <li class="head">Details</li>
      <% @trip.trip_options.all_used_attributes.each do |opt, val| %>
        <li class="opt"> <span class="property"><%= opt.gsub("_", " ") %>:</span> 
        <span class="edit_trip_options prop_val" id="<%=opt%>"><%=@trip.trip_options.view_for(opt)%></span></li>
      <% end %>
      <% @trip.trip_options.all_unused_attributes.each do |opt, val| %>
        <li class="opt"> <span class="property"><%= opt.gsub("_", " ") %>:</span> 
        <span class="edit_trip_options prop_val unused_val" id="<%=opt%>"></span></li>
      <% end %>
    </ul>
  <% else %>
    <%= image_tag static_map(@trip), :id => "static_map" %>
    <% if @trip.trip_options.all_used_attributes.length != 0 %>
      <ul id="trip_options">
        <li class="head">Details</li>
        <% @trip.trip_options.all_used_attributes.each do |opt, val| %>
          <li class="opt"> <span class="property"><%= opt.gsub("_", " ") %>:</span> 
          <span class="edit_trip_options prop_val" id="<%=opt%>"><%=@trip.trip_options.view_for(opt)%></span></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
