<% @search ||= {} %>
<div class="listitem">
  <div class="right"><%= image_tag small_static_map(trip, @search["origin_coords"], @search["destination_coords"]) %> </div>
  <% if current_user and @current_user %>
    <% if @current_user.has_fav(trip.id) %>
      <%= link_to (image_tag 'fav-star-on.png', :class=>"on"), favorite_path(trip), :remote => true, :class=>'fav-toggle' %>
    <% else %>
      <%= link_to (image_tag 'fav-star-off.png', :class=>"off"), favorite_path(trip), :remote => true, :class=>'fav-toggle' %>
    <% end %>
  <% end %>
  <div class="one-line">
    <%= link_to trip.short_title, trip %>
    <span class="owner" title="<%=trip.user.name%>">
      <%= link_to trip.user.name, trip.user %>
    </span>
    <p class="date">Departing <%=trip.start_date.to_formatted_s(:custom_short)%> </p>
    <p class="summary"><%=red(trip.summary)%></p>
  </div>
</div>

