<%= javascript_include_tag 'new_trip_map' %>
<%= javascript_include_tag 'autocomplete' %>
<script type="text/javascript">
  var trip = <%= @trip.to_json.html_safe%>;
</script>
<div id="where_form">
  <%= form_for(trip) do |f| %>
    <% if trip.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

        <ul>
          <% trip.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.text_field :origin, :size => 30 %>
    <%= f.text_field :destination, :size => 30 %></br>
    <%= link_to 'driving options', '#', :id => "driving_options_link" %></br>
    <div id="driving_options" style="display:none;">
      <%= check_box_tag :avoid_highways, nil, trip.google_options.avoid_highways if trip.google_options %>
      <%= label_tag :avoid_highways %></br>
      <%= check_box_tag :avoid_tolls, nil, trip.google_options.avoid_tolls if trip.google_options %>
      <%= label_tag :avoid_tolls %>
    </div>
 
    <%= text_field_tag 'trip[start_date]', trip.start_date ? trip.start_date.to_formatted_s(:jqueryui) : "", {:placeholder => 3.days.since.midnight.utc.to_formatted_s(:jqueryui)} %></br>
    <%= link_to 'My dates are flexible', '#', :id => "start_date_options" %>
    <%= f.select :start_flexibility, [["Use exact date above", "exact"], 
                                    ["1 day before",           "onebefore"], 
                                    ["1 day after",            "oneafter"], 
                                    ["1 day before and after", "one"], 
                                    ["2 days before and after","two"], 
                                    ["3 days before and after","three"]], {:selected => @trip.start_flexibility || "three"} %></br>
    <div class="hidden_fields">
      <%= f.hidden_field :distance %>
      <%= f.hidden_field :duration %>
      <%= f.hidden_field :google_options %>
      <%= f.hidden_field :encoded_poly %>
      <%= f.hidden_field :route %>
    </div>

    <div id="trip_submit_wrap" class="button-group">
      <button class="big disable button" id="trip_submit" disabled="disabled" type="submit">Save</button>
      <%= link_to 'Back', :back, :class=>"big button", :id=>"trip_back" %>
    </div>
  <% end %>
  <div id="directionsPanel" style="display:none;"></div>
</div>
<div id="map_canvas"> </div>
