<%= javascript_include_tag 'map_home_show' %>
<script type="text/javascript">
  var trips = <%= @trips.to_json.html_safe %>;
  var cities = <%= (Trip.all.map{|t| t.origin} + Trip.all.map{|t| t.destination}).uniq.to_json.html_safe%>; 
  $(function() {
    $("#city").autocomplete({
      source: cities
    });
  })

</script>
<%= form_tag(:action => 'explore') do %>
  <% if flash[:error] %>
    <p class="error"><%= flash[:error] %></p>
  <% end %>

  Choose a city to explore
  <%= text_field_tag 'city', @city, :placeholder => 'Seattle, WA' %>
  <%= submit_tag 'Explore' %>
  <%= link_to 'Show options', '#' %>
<% end %>
<div id="trips_container" style="float:left;width:450px;height:500px;overflow-y:auto;">
  <% @trips.each do |trip| %>
    <div id="trip_<%=trip.id%>" class="trip_item" style="padding-left:12px;">
      <%=link_to trip.short_title, trip %>
    </div>
  <% end %>
</div>

<div id="map_canvas" style="width:500px; height: 500px;"> </div>

