<%= javascript_include_tag 'polylineEdit' %>
<%= javascript_include_tag 'map' %>
<script type="text/javascript">
  var cities = <%= @cities.to_json.html_safe %>;
  var routes = <%= @trips.to_json.html_safe %>;
</script>

<div id="map_container"> </div><h1>Listing trips</h1>

<table>
  <tr>
    <th>Route</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trips.each do |trip| %>
  <tr>
    <td><%= trip.route %></td>
    <td><%= link_to 'Show', trip %></td>
    <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
    <td><%= link_to 'Destroy', trip, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trip', new_trip_path %>
