<% if @owner %>
  <%= javascript_include_tag 'jquery.jeditable.mini' %>
  <%= javascript_include_tag 'trip_show' %>
  <script type="text/javascript">
    var trip = <%= @trip.to_json.html_safe%>;
    var ops = <%= @trip.trip_options.choose_from.to_json.html_safe %>;
  </script>
<% end %>
<div id="trip_show" >
  <%= render :partial => 'nav' %>
  <div id="right_wrap">
    <%= image_tag static_map(@trip), :id => "static_map" %>
    <% if @owner %>
      <%= link_to 'Edit Route', edit_trip_path(@trip), :class => 'big button', :style=>'float:left;' %>
      <%= link_to 'Delete Trip', @trip, :confirm => 'Are you sure? This will delete your entire trip.', :method => :delete, :class=> 'big button danger', :style=>"float:right;" %>
    <% end %> 
  </div>
  <div class="trip_details">
    <div id="trip_title">
      <span><%= link_to @trip.short_title({:origin=>true}), home_show_path({:origin => @trip.origin}) %></span>
      to
      <span><%= link_to @trip.short_title({:destination=>true}), home_show_path({:destination => @trip.destination}) %></span>
    </div>
    <%= render :partial => 'owner' %>
    <% if @owner || @trip.summary%>
      <div id="summary" class="edit_summary"><%= @trip.summary %></div>
    <% end %>
    <%= render 'trip_options' %>
  </div>
</div>
