<div id="trip_show" >
  <%= render :partial => 'nav' %>
  <%= render :partial => 'trip_options' %>
  <div class="trip_details">
    <div id="trip_title">
      <span><%= link_to @trip.origin.split(",")[0..1].join(","), home_show_path({:origin => @trip.origin}) %></span>
      to
      <span><%= link_to @trip.destination.split(",")[0..1].join(","), home_show_path({:destination => @trip.destination}) %></span>
    </div>
    <%= render :partial => 'owner' %>
    <% if @owner || @trip.summary%>
      <div id="summary" class="edit_summary"><%= @trip.summary %></div>
    <% end %>
  </div>

</div>
