<% if @owner %>
  <%= javascript_include_tag 'trip_show' %>
  <script type="text/javascript">
    var trip = <%= @trip.to_json.html_safe%>;
    var ops = <%= @select_hash.to_json.html_safe %>;
  </script>
<% end %>
<div id="trip_show">
  <%= render :partial => 'nav' %>
  <%= render :partial => 'share' %>
  <aside class="trip_details">
    <div id="trip_origin">
      <%= @trip.origin %>
    </div>
    <div id="trip_destination">
      <%= @trip.destination %>
    </div>
    <div id="summary" class="edit_summary"><%= @trip.summary %></div>
    <ul id="trip_options">
      <li class="head">Details</li>
      <% @trip.trip_options.all_used_attributes.each do |opt, val| %>
        <li class="opt"> <span class="property"><%= opt.gsub("_", " ") %>:</span> 
        <span class="edit_trip_options prop_val" id="<%=opt%>"><%=@trip.trip_options.view_for(opt)%></span></li>
      <% end %>
      <li><span class="property">Duration</span><span class="prop_val"><%= trip_duration_in_words(@trip.duration)%></span></li>
      <% if @owner %>
        <% @trip.trip_options.all_unused_attributes.each do |opt, val| %>
          <li class="opt"> <span class="property"><%= opt.gsub("_", " ") %>:</span> 
          <span class="edit_trip_options prop_val unused_val" id="<%=opt%>"></span></li>
        <% end %>
      <% end %>
    </ul>
  </aside>

  <% if @owner %>
    <%= link_to (image_tag static_map(@trip), :id => "static_map"), map_path %>
  <% else %>
    <%= image_tag static_map(@trip), :id => "static_map" %>
  <% end %>
</div>
