<%= javascript_include_tag 'trip_show' %>
<script type="text/javascript">
  var trip = <%= @trip.to_json.html_safe%>;
  var ops = <%= @trip.trip_options.choose_from.to_json.html_safe%>;
</script>
<div id="trip_show">
  <aside class="trip_details">
    <div id="trip_origin">
      <%= @trip.origin %>
    </div>
    <div id="trip_destination">
      <%= @trip.destination %>
    </div>
    <div class="edit" id="destination"><%= @trip.destination %></div>
    <div class="edit_area" id="div_2">Lorem ipsum dolor sit amet, consectetuer 
      adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
      magna aliquam erat volutpat.</div>
    <ul id="trip_options">
      <li class="head">Trip options</li>
      <% @trip.trip_options.options_vals.each do |opt, val| %>
        <li class="opt"> <span class="property"><%= opt.gsub("_", " ") %>:</span> 
        <span class="edit_trip_options prop_val" id="<%=opt%>"><%= select_val(opt, val) %></span></li>
      <% end %>
      <li><span class="property">Duration</span><span class="prop_val"><%= trip_duration_in_words(@trip.duration)%></span></li>
    </ul>
  </aside>

  <%= image_tag static_map(@trip), :id => "static_map" %>

  <%= link_to 'Edit', edit_trip_path(@trip) %> |
  <%= link_to 'Back', trips_path %>
</div>
