<%= javascript_include_tag 'trip_show_map' %>
<div id="trip_show">
  <aside class="trip_details">
    <div id="trip_origin">
      <%= @trip.origin %>
    </div>
    <div id="trip_destination">
      <%= @trip.destination %>
    </div>
    <div id="trip_duration">
      <%= trip_duration_in_words(@trip.duration) %> of nonstop driving 
      <% if @trip.duration > 72000 %>
        or <%= trip_duration_in_words(@trip.with_sleep(10)) %> with 10 hours off per day.
      <% end %>
    </div>
    <ul id="trip_options">
      <li><%= shared_driving_ops.select{|a,b| b==@trip.trip_options.shared_driving}[0][0] unless @trip.trip_options.shared_driving.nil? %></li>
      <li><%= max_passengers_ops.select{  |b| b==@trip.trip_options.max_passengers}[0]    unless @trip.trip_options.max_passengers.nil? %></li>
      <li><%=    max_luggage_ops.select{|a,b| b==@trip.trip_options.max_luggage}[0][0]    unless @trip.trip_options.max_luggage.nil? %></li>
      <li><%=       car_type_ops.select{|a,b| b==@trip.trip_options.car_type}[0][0]       unless @trip.trip_options.car_type.nil?  %></li>
    </ul>
    <div id="has_car">
      <% if @trip.trip_options.shared_driving %>
        Has car <%= image_tag 'check.png' %>
      <% else %>
        has car <%= image_tag 'redx.png' %>
      <% end %>
    </div>
    <div id="will_drive">
      <% if @trip.trip_options.max_passengers %>
        Will drive <%= image_tag 'check.png' %>
      <% else %>
        Will drive <%= image_tag 'redx.png' %>
      <% end %>
    </div>
  </aside>

  <%= image_tag static_map(@trip), :id => "static_map" %>

  <%= link_to 'Edit', edit_trip_path(@trip) %> |
  <%= link_to 'Back', trips_path %>
</div>
