<% if @owner %>
  <%= javascript_include_tag 'trip_show' %>
  <script type="text/javascript">
    var trip = <%= @trip.to_json.html_safe%>;
    var ops = <%= @trip.trip_options.choose_from.to_json.html_safe %>;
  </script>
<% end %>
<div id="trip_show" >
  <%= render :partial => 'nav' %>
  <div id="right_wrap">
    <%= image_tag static_map(@trip), :id => "static_map" %>
    <% if @owner %>
      <%= link_to 'Edit Route', edit_trip_path(@trip), :class => 'big button', :style=>'float:left;' %>
      <%= link_to 'Delete Trip', @trip, :confirm => 'Are you sure? This will delete your entire trip.', :method => :delete, :class=> 'big button danger', :style=>"float:right;" %>
    <% end %> 
  </div>
  <div class="trip_details">
    <div id="trip_title">
      <span><%= link_to @trip.origin.split(",")[0..1].join(","), home_show_path({:origin => @trip.origin}) %></span>
      to
      <span><%= link_to @trip.destination.split(",")[0..1].join(","), home_show_path({:destination => @trip.destination}) %></span>
    </div>
    <%= render :partial => 'owner' %>
    <% if @owner || @trip.summary%>
      <div id="summary" class="edit_summary"><%= @trip.summary %></div>
    <% end %>
    <ul id="trip_options">
      <% @trip.trip_options.all_used_attributes.each do |opt, val| %>
        <li class="opt"> <span class="property"><%= opt.gsub("_", " ") %>:</span>
        <span class="edit_trip_options prop_val" id="<%=opt%>"><%=@trip.trip_options.view_for(opt)%></span></li>
      <% end %>
      <% if @owner %>
        <% @trip.trip_options.all_unused_attributes.each do |opt, val| %>
          <li class="opt"> <span class="property"><%= opt.gsub("_", " ") %>:</span>
          <span class="edit_trip_options prop_val unused_val" id="<%=opt%>"></span></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
