<%= javascript_include_tag 'trip_show_map' %>

<script type="text/javascript">
  var trip = <%= @trip.to_json.html_safe %>;
</script>

<aside class="trip_details">
  <div class="title">
    <%= @trip.title %>
  </div>
  <div id="has_car">
    <% if @trip.has_car %>
      has car: yes
    <% else %>
      has car: no
    <% end %>
  </div>
  <div id="will_drive">
    <% if @trip.will_drive %>
      has car: yes
    <% else %>
      will drive: no
    <% end %>
  </div>
  <div id="trip_origin">
    <%= @trip.origin %>
  </div>
  <div id="trip_destination">
    <%= @trip.destination %>
  </div>
  route length: <%= @trip.route.length %>
</aside>

<div id="map_canvas"> </div>
<div id="directionsPanel" > </div>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
