<div class="columns profilecols">
  <div class="first vcard">
    <%= image_tag @user.image %>
    <% @user.vcard_attributes.each do |att, val| %>
      <dl>
        <dt><%=att.gsub("_", " ")%></dt>
        <dd class="fn"><%= val%></dd>
      </dl>
    <% end %>
    <dl>
      <dt>Website </dt>
      <dd class="fn"><%= link_to @user.pretty_website, @user.website %></dd>
    </dl>
    <dl>
      <dt>Last Login</dt>
      <dd class="fn"><%= time_ago_in_words(@user.updated_at)%> ago</dd>
    </dl>
  </div>
</div>

<div id="tripslist">
  <div class="tripsheader">
    <h3>Your Trips (<%= @user.trips.length%>)</h3>
  </div>
  <%= render :partial => 'trips/trip', :collection => @user.trips  %>
</div>

<%= link_to "New Trip", new_trip_path %>
