<%= javascript_include_tag 'map_index' %>

<%= form_tag( :action => 'show') do %>
  Search for trips starting in
  <%= text_field_tag 'origin', nil, :placeholder => 'Seattle, WA' %>
  <%= hidden_field_tag 'origin_lat' %>
  <%= hidden_field_tag 'origin_lon' %>
  and ending in
  <%= text_field_tag 'destination', nil, :placeholder => 'New York, NY' %>
  <%= hidden_field_tag 'destination_lat' %>
  <%= hidden_field_tag 'destination_lon' %>
  <%= submit_tag 'Search', :id => 'home_search' %>
<% end %>

<div id="map_container"> </div>

