<%= javascript_include_tag 'map_shared' %>
<%= javascript_include_tag 'map_home_show' %>
<script type="text/javascript">
  var result_hash = <%= @result_hash.to_json.html_safe %>;
  var cities_hash = <%= @cities_hash.to_json.html_safe %>;
  var avail_places = <%= @avail_places.to_json.html_safe %>;
</script>

<div id="map_container"> </div>
