<%= javascript_include_tag 'home_show' %>
<script type="text/javascript">
  var center = <%= @center.to_json.html_safe%>;
  var trips = <%= @trips.to_json.html_safe%>;
  var search = <%= @search.to_json.html_safe%>;
</script>
<aside class="trip_search">
  <h3 class="tripsheader">
    <a href="/jobs/feed?" class="rss"><img alt="rss" id="rss" src="http://sstatic.net/careers/Img/icon-rss.png?32e66e"></a>
    search rides
  </h3>
  <%= form_tag(:action => 'show') do %>
    <div>
      <%= label_tag 'origin', "From" %>
      <%= text_field_tag 'origin', @search["origin"], :placeholder => 'Seattle, WA' %>
      <INPUT type="button" id="geocode_origin" class="undo" value="">
    </div>
    <%= hidden_field_tag 'origin_radius', @search['origin_radius'] %>
    <div class="map_container" id="origin_info" style="display:none;">
      <div id="map_for_origin" class="map_canvas"></div>
      <span class="hide_map">Hide map</span>
      <span class="radius"></span>
    </div>
    <div>
      <%= label_tag 'destination', "To" %>
      <%= text_field_tag 'destination', @search["destination"], :placeholder => 'New York, NY' %>
      <INPUT type="button" id="geocode_destination" class="undo" value="">
    </div>
    <%= hidden_field_tag 'destination_radius', @search['destination_radius'] %>
    <div class="map_container" id="destination_info" style="display:none;">
      <div id="map_for_destination" class="map_canvas"></div>
      <span class="hide_map">Hide map</span>
      <span class="radius"></span>
    </div>

    <%= submit_tag 'Search', :id => 'home_search' %>
  <% end %>
</aside>

<div id="tripslist">
  <div class="tripsheader">
    <h3><%= @trips.length%></h3>
  </div>
  <% @trips.each do |trip| %>
    <div class="listitem">
      <div class="right"><%= image_tag small_static_map(trip, @search["origin_coords"], @search["destination_coords"]) %> </div>
      <a class="fav-toggle" href="/jobs/togglefavorite/13369" title="Click to add to your favorites"></a>
      <div class="one-line">
        <%= link_to trip.origin+" to "+trip.destination, trip %>
        <span class="owner" title="<%=trip.user.name%>">
          <%= link_to trip.user.name, trip.user %>
        </span>
        <p class="date"><%=trip.start_date.to_formatted_s(:custom_short)%> </p>
        <p class="description"><%=trip.description if trip.description%></p>
        <p class="tags"><a class="post-tag" href="/jobs/tag/mysql">mysql</a> <a class="post-tag" href="/jobs/tag/lamp">lamp</a> <a class="post-tag" href="/jobs/tag/cloud">cloud</a> <a class="post-tag" href="/jobs/tag/java">java</a> <a class="post-tag" href="/jobs/tag/php">php</a></p>
      </div>
    </div>
  <% end %>
</div>
