<%= javascript_include_tag 'map_home_show' %>
<script type="text/javascript">
  var center = <%= @center.to_json.html_safe %>;
  var trips = <%= @trips.to_json.html_safe %>;
  var flexibility = <%= Trip.first.flexibilty_hash.to_json.html_safe %>;
</script>

<%= form_tag(:action => 'show') do %>
  <% if flash[:error] %>
    <p class="error"><%= flash[:error] %></p>
  <% end %>

  Search for trips starting near
  <%= text_field_tag 'origin', @search["origin"], :placeholder => 'Seattle, WA' %>
  and ending in 
  <%= text_field_tag 'destination', @search["destination"], :placeholder => 'New York, NY' %>

  <%= hidden_field_tag 'alternate' %>
  <div id="start_date"></div>
  <%= select_tag :start_flexibility, start_date_options(@search["start_flexibility"]) %></br>
  <%= submit_tag 'Search', :id => 'home_search' %>
<% end %>

<% if @matches_x %>
Your search for trips between <%=@origin%> and <%=@destination%> returned these results. </br>
  <% @matches.each do |match_type, matches| %>
    <div id="<%=match_type%>">
      <%= match_type %></br>
      <% matches.each do |trip| %>
        <%= Trip.find(trip["trip"]).origin+"=>"+Trip.find(trip["trip"]).destination %></br> 
      <% end %>
    </div>
  <% end %>
<% elsif @match_one_x %>
  Only a partial match was found
  <% @match_one.each do |match_type, matches| %>
    <div id="<%=match_type%>">
      <%= match_type %></br>
      <% matches.each do |trip, vals| %>
        <%= Trip.find(trip).origin %></br> 
      <% end %>
    </div>

  <% end %>
<% end %>
<div id="map_canvas" style="width:500px; height: 500px;"> </div>
