<%= javascript_include_tag 'home_show' %>
<%= javascript_include_tag 'home_datepicker' %>
<script type="text/javascript">
  var current_user = <%=@current_user.to_json.html_safe%>;
  var center = <%= @center.to_json.html_safe%>;
  var trips = <%= @trips.to_json.html_safe%>;
  var search = <%= @search.to_json.html_safe%>;
  var flexibility = <%= Trip.first.flexibilty_hash.to_json.html_safe %>;
  var availableDates = <%= Trip.avail_dates({:trips => @trips}).to_json.html_safe %>;
</script>
<aside class="trip_search">
  <h3 class="tripsheader">
    <a href="/jobs/feed?" class="rss"><img alt="rss" id="rss" src="http://sstatic.net/careers/Img/icon-rss.png?32e66e"></a>
    search rides
  </h3>
  <%= form_tag(:action => 'show') do %>
    <div>
      <%= label_tag 'origin', "From" %>
      <%= text_field_tag 'origin', @search["origin"], :placeholder => 'Seattle, WA' %>
      <INPUT type="button" id="geocode_origin" class="show_map" value="">
    </div>
    <%= hidden_field_tag 'origin_radius', @search['origin_radius'] %>
    <%= hidden_field_tag 'origin_coordinates', @search["origin_coordinates"] %>
    <div class="map_container" id="origin_info" style="display:none;">
      <div id="map_for_origin" class="map_canvas"></div>
      <span class="hide_map">Hide map</span>
      <span class="radius"></span>
    </div>
    <div>
      <%= label_tag 'destination', "To" %>
      <%= text_field_tag 'destination', @search["destination"], :placeholder => 'New York, NY' %>
      <INPUT type="button" id="geocode_destination" class="show_map" value="">
    </div>
    <%= hidden_field_tag 'destination_radius', @search['destination_radius'] %>
    <%= hidden_field_tag 'destination_coordinates', @search["destination_coordinates"] %>
    <div class="map_container" id="destination_info" style="display:none;">
      <div id="map_for_destination" class="map_canvas"></div>
      <span class="hide_map">Hide map</span>
      <span class="radius"></span>
    </div>

    <%= submit_tag 'Search', :id => 'home_search' %>
    <%= hidden_field_tag 'alternate' %>
    <div id="start_date"></div>
    <%= select_tag :start_flexibility, create_options(@search["start_flexibility"]) %></br>
  <% end %>
</aside>

<div id="tripslist">
  <div class="tripsheader">
    <h3><%= @trips.length%></h3>
  </div>
  <%= render :partial => 'trips/trip', :collection => @trips %>

</div>
