<div> What the fuck </div>
<%= form_for(@request) do |f| %>
  <%= f.text_area :summary %></br>
  <%= f.text_field :origin, :size => 30 %></br>
  <%= f.text_field :destination, :size => 30 %></br>
  <%= link_to 'driving options', '#', :id => "driving_options_link" %></br>
  <%= f.submit %>
<% end %>
