<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @place.address %>
</p>

<p>
  <b>Coords:</b>
  <%= @place.coords %>
</p>

<p>
  <b>Active rides:</b>
  <% @place.active_rides.each do |ride| %>
    <%= ride.id %> <br />
  <% end %>
</p>

<p>
  <b>Num rides:</b>
  <%= @place.num_rides %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
